.container{
  display: flex;
  justify-content: center; 
  /* align-items: center;  */
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

#controlsBar{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.weekDays{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;

}
