.container {
    display: grid;
    height: 100vh;
    padding: 20px;

}

#controlsBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.calendarContainer {
    display: grid;
    gap: 6px;
    border: 2px solid red;
    padding: 10px;
}

.weekDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid blue;
}

#calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid green;
    grid-auto-rows: 100px;
}

.weekDays div {
    border: 1px solid orange;
}

#calendarGrid div {
    border: 1px solid purple;
}

.weekDays div,
#calendarGrid div {
    display: flex;
    align-items: center;
    justify-content: center;
}